* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; }
html { background-color: #2b2f30; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
section { display: flex ; width: 100%; background-color: #323738; }
p { margin: 0 !important }
